* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
}

body{
    background-image: url(../images/bg.jpg);
    background-size: cover;
}  

a { 
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.5) ,rgba(255, 255, 255) 3px, transparent 5px) no-repeat;
    background-size: 0 100%;
}

a:hover {
    transition: 0.3s;
    background-size: 100% 100%;
}

.link {
    color: #D26438;
    text-decoration: none;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) ,rgba(255, 255, 255) 3px, transparent 2px) no-repeat;
    background-size: 0 100%;
}

.link:hover {
    color: #00acfc;
}

/* NAVBAR */ 

.navbar{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom right,#1a1a1a,  #3b1d1d);
    border-bottom: 2px solid #D26438;
}

.left{
    display: flex;
    align-self: center;
    margin-left: 10px;
}

.color-theme {
    margin-left: 10px;
    align-self: center;
}

.change-color {
    background-color: #D26438;
    border-style: none;
    border-radius: 10px;
}

.change-color:hover {
    transition: .3s;
    box-shadow: 0 0 10px 4px #00acfc;
}

i {
    color: #ffffff;
    font-size: 30px;
    align-self: center;
    margin: 20px;
}

.right{
    display: flex;
    justify-content: center;
}

input[type="search"].recherche{
    height: 30px;
    width: 400px;
    padding: 16px;
    outline: none;
    font-size: 15px;
    font-weight: bold;  
    align-self: center;
    border-style: none;
    border-radius: 4px;    
} 

input[type="search"].recherche:focus{
    background-color: #1a1a1a;
    border: 1px solid #D26438;
    color: #ffffff;
    font-weight: bold;
    transition: 0.5s;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;  
}

.navbar ul li a{
    color: #D26438;
    padding: 13px;
    text-transform: uppercase;
    border-style: solid;
    border-color: #D26438;
}

.navbar ul li a:hover{
    color: #ffffff;
    background-color: #D26438;
    transition: 0.4s;
    border-style: solid;
}

/* END NAVBAR */

/* BODY-CONTENT */


.contact-section {
    margin-top: 100px;
    padding: 40px 0;
}

.contact-section h1 {
    text-align: center;
    color: #ffffff;
}

.border {
    width: 100px;
    height: 10px;
    background-color: #D26438;
    margin: 40px auto;
}

.contact-form {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
} 

.contact-form-text {
    display: block;
    width: 100%;
    margin: 30px 0;
    background: #1a1a1a;
    padding: 20px 40px;
    border-style: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 6px;
} 

.contact-form-text:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 4px #D26438;
    transition: 0.5s;
}

.contact-form-textarea {
    resize: none;
    height: 140px;
    display: block;
    width: 100%;
    margin: 16px 0;
    background: #1a1a1a;
    padding: 20px 40px;
    border-style: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 6px;
}

.contact-form-textarea:hover {
    box-shadow: 0 0 10px 4px #D26438;
    transition: 0.5s;
    cursor: pointer;
    
}

.contact-form-text:focus, .contact-form-textarea:focus {
    outline: none;
    transform: translateY(-10px);
    box-shadow: 0 0 10px 4px #00acfc;
}

.contact-form-btn {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #D26438;
    padding: 14px 18px;
    border-style: none;
    color: #ffffff;
    border-radius: 20px;
    float: right;
    opacity: 0.7;
    color: #ffffffe5;
}

.contact-form-btn:hover {
    background-color: #D26438;
    transition: 0.5s;
    opacity: 1;
}

.infos {
    display: block;
    color: #fff;
    text-align: center;
}

.adress, .telephoneNumber {
    margin: 14px 0;
}

.end-line {
    max-width: 90%;
    margin: auto;
    color: #dddddd;
}

/* END-CONTENT */

/* FOOTER */

.footer{
    margin-top: 30px;
    color: white;
    text-align: center;
    background-color: #1a1a1a;
    padding: 20px;
    font-size: 14px;
}

/* END-FOOTER */

